.act-text{
  color: #8bc34a;
}
.c2{
    background-color: #37393e;
    height: 90px;
    width: 90px;
    margin: 10px auto;
    border-radius: 90px;
}
 .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: static;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a:hover {
    background-color: #555;
    color: white;
    border-radius: 5px;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 1200px) {
    .sidebar {
      
      width: 100%;
      height: auto;
      position: relative;
      padding-left: 5%;
      padding-right: 5%;
    }
    .c4{
        display: none;
    }
    .sidebar a {
        float: left;
    }
    div.content {margin-left: 0;}
    a.c6 {
        float:right;
    }
  }
  
  @media screen and (max-width: 100%) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  @media screen and (max-width: 950px){
    .c5{
        display: none;
    }
    .sidebar{
      padding: 0;
    }
    a i {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 400px){
    a i {
      font-size: 23px;
    }
  }
